<div id="wrapper" align="top">
  <div id="div1" >
    <h1>Catrachos Online</h1><br>
    <p>Catrachos Online, Inc., incorporated on May 21, 2017, offers a range of products and services through its Websites. <br>
      The Company operates through three segments: North America, International and Catrachos Web Services (CWS). <br>
      The Company's products include merchandise and content that it purchases for resale from vendors and those offered <br>
      by third-party sellers. It also manufactures and sells electronic devices.
    </p>
  </div>
  <div id="div2">
    <%= image_tag 'amaazon.jpeg', :size => "700x400"%>
  </div>
</div>
