@import "bootstrap-sprockets";
@import "bootstrap";
#wrapper {

}
#div1 {
    display: inline-block;
    width:500px;
    height:300px;
}
#div2 {
    display: inline-block;
    width:500px;
    height:300px;
}
